Repository signalwire/signalwire-node, pull requests merged in 2019-06, with the labels that each got.

#97 Sync/Async Call Methods
  packages/common/src/relay/calling/Blocker.ts
  packages/common/src/relay/calling/Call.ts
  packages/common/src/relay/calling/Calling.ts
  packages/common/src/relay/helpers.ts
  packages/common/src/util/interfaces.ts
  packages/node/tests/relay/Call.test.ts
Labels: area/node, type/feature

#101 Rename web package to JS
  .scripts/common.js
  packages/common/tests/Setup.test.ts
  packages/common/tests/webrtc/Dialog.test.ts
  packages/js/.babelrc
  packages/js/CHANGELOG.md
  packages/js/README.md
  packages/js/examples/react/README.md
  packages/js/examples/react/package.json
  packages/js/examples/react/public/favicon.ico
  packages/js/examples/react/public/index.html
  packages/js/examples/react/public/manifest.json
  packages/js/examples/react/src/App.css
  packages/js/examples/react/src/App.js
  packages/js/examples/react/src/App.test.js
  packages/js/examples/react/src/components/auth/AuthForm.css
  packages/js/examples/react/src/components/auth/AuthForm.js
  packages/js/examples/react/src/components/phone/Dialog.css
  packages/js/examples/react/src/components/phone/Dialog.js
  packages/js/examples/react/src/components/phone/Dialpad.css
  packages/js/examples/react/src/components/phone/Dialpad.js
  packages/js/examples/react/src/components/phone/Phone.css
  packages/js/examples/react/src/components/phone/Phone.js
  packages/js/examples/react/src/helpers.js
  packages/js/examples/react/src/index.css
  packages/js/examples/react/src/index.js
  packages/js/examples/react/src/logo.svg
  packages/js/examples/react/src/serviceWorker.js
  packages/js/examples/react/yarn.lock
  packages/js/examples/vanilla/README.md
  packages/js/examples/vanilla/index.css
  packages/js/examples/vanilla/index.html
  packages/js/examples/vanilla/index.js
  packages/js/index.ts
  packages/js/jest.config.js
  packages/js/package-lock.json
  packages/js/package.json
  packages/js/src/SignalWire.ts
  packages/js/src/Verto.ts
  packages/js/tests/SignalWire.test.ts
  packages/js/tests/Verto.test.ts
  packages/js/tsconfig.es5.json
  packages/js/tsconfig.json
  packages/js/webpack.config.js
  packages/react-native/index.ts
Labels: area/web, type/epic

#100 Remove domain and resource from WebRTC client
  packages/common/src/BaseSession.ts
  packages/common/src/BrowserSession.ts
  packages/common/src/relay/Relay.ts
  packages/common/src/relay/webrtc/WebRTC.ts
  packages/common/src/services/Connection.ts
  packages/common/src/util/helpers.ts
  packages/common/src/util/interfaces.ts
  packages/common/tests/Setup.test.ts
  packages/common/tests/helpers.test.ts
  packages/common/tests/webrtc/VertoHandler.ts
  packages/js/examples/vanilla/README.md
  packages/js/examples/vanilla/index.html
  packages/js/examples/vanilla/index.js
  packages/js/tests/SignalWire.test.ts
  packages/node/tests/relay/RelayClient.test.ts
  packages/react-native/tests/Relay.test.ts
Labels: area/react-native, area/web

#102 WebRTC device/resolutions improvements
  packages/common/src/BrowserSession.ts
  packages/common/src/util/interfaces.ts
  packages/common/src/webrtc/helpers.ts
Labels: area/react-native, area/web, type/enhancement

#103 massive rename Dialog to Call
  packages/common/src/BaseSession.ts
  packages/common/src/BrowserSession.ts
  packages/common/src/relay/webrtc/WebRTC.ts
  packages/common/src/util/constants/call.ts
  packages/common/src/util/constants/index.ts
  packages/common/src/util/interfaces.ts
  packages/common/src/webrtc/Call.ts
  packages/common/src/webrtc/Peer.ts
  packages/common/src/webrtc/VertoHandler.ts
  packages/common/src/webrtc/helpers.ts
  packages/common/tests/behaveLike/BaseSession.ts
  packages/common/tests/webrtc/Dialog.test.ts
  packages/common/tests/webrtc/VertoHandler.ts
  packages/js/CHANGELOG.md
  packages/js/README.md
  packages/js/examples/react/src/App.js
  packages/js/examples/vanilla/index.js
  packages/js/src/SignalWire.ts
  packages/js/src/Verto.ts
  packages/react-native/README.md
  packages/react-native/src/Relay.ts
Labels: area/react-native, area/web

#105 WebRTC Call local device methods
  packages/common/src/BrowserSession.ts
  packages/common/src/util/webrtc/index.native.ts
  packages/common/src/util/webrtc/index.ts
  packages/common/src/webrtc/Call.ts
  packages/common/src/webrtc/Peer.ts
Labels: area/react-native, area/web, type/feature

#106 New React JS example
  packages/js/examples/react-calling/.gitignore
  packages/js/examples/react-calling/README.md
  packages/js/examples/react-calling/package.json
  packages/js/examples/react-calling/public/favicon.ico
  packages/js/examples/react-calling/public/index.html
  packages/js/examples/react-calling/public/manifest.json
  packages/js/examples/react-calling/src/App.css
  packages/js/examples/react-calling/src/App.js
  packages/js/examples/react-calling/src/App.test.js
  packages/js/examples/react-calling/src/components/auth/AuthForm.css
  packages/js/examples/react-calling/src/components/auth/AuthForm.js
  packages/js/examples/react-calling/src/components/phone/Dialog.css
  packages/js/examples/react-calling/src/components/phone/Dialog.js
  packages/js/examples/react-calling/src/components/phone/Dialpad.css
  packages/js/examples/react-calling/src/components/phone/Dialpad.js
  packages/js/examples/react-calling/src/components/phone/Phone.css
  packages/js/examples/react-calling/src/components/phone/Phone.js
  packages/js/examples/react-calling/src/helpers.js
  packages/js/examples/react-calling/src/index.css
  packages/js/examples/react-calling/src/index.js
  packages/js/examples/react-calling/src/logo.svg
  packages/js/examples/react-calling/src/serviceWorker.js
  packages/js/examples/react-calling/yarn.lock
  packages/js/examples/react/package.json
Labels: area/web

#108 Proposed changes to README
  README.md
  packages/js/README.md
  packages/node/README.md
  packages/react-native/README.md
Labels: area/general, type/enhancement

#107 Switch devices while in call
  packages/common/src/webrtc/Call.ts
  packages/js/examples/vanilla-calling/index.js
Labels: area/web, type/feature

#109 New layout notification handler
  packages/common/src/webrtc/Call.ts
  packages/common/src/webrtc/LayoutHandler.ts
  packages/common/src/webrtc/VertoHandler.ts
  packages/common/tests/webrtc/LayoutHandler.ts
  packages/js/tests/Verto.test.ts
Labels: area/web, type/optimization

#112 Fix participantData notification
  packages/common/src/webrtc/Call.ts
Labels: area/react-native, area/web, type/bug

#114 scope proto by projectId in localStorage
  packages/common/src/services/Setup.ts
Labels: area/web, type/bug

#115 Add support for sessionStorage
  packages/common/src/BaseSession.ts
  packages/common/src/BrowserSession.ts
  packages/common/src/services/Setup.ts
  packages/common/src/util/storage/index.native.ts
  packages/common/src/util/storage/index.ts
  packages/common/src/webrtc/helpers.ts
  packages/common/tests/setup/browsers.ts
  packages/js/src/Verto.ts
  tslint.json
Labels: area/general, type/enhancement

#117 Release JS SDK v1.1.0
  packages/js/package-lock.json
  packages/js/package.json
Labels: area/web, type/epic

#116 Implement RelayConsumer
  packages/common/src/relay/calling/Calling.ts
  packages/common/src/util/interfaces.ts
  packages/node/examples/calling/consumer.js
  packages/node/index.ts
  packages/node/src/relay/RelayConsumer.ts
  packages/node/tests/relay/RelayConsumer.test.ts
Labels: area/node, type/feature

#120 TS declaration files
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/BaseSession.ts
  packages/common/src/messages/blade/Connect.ts
  packages/common/src/util/Cache.ts
  packages/common/src/util/interfaces.ts
  packages/js/tsconfig.json
  packages/node/package-lock.json
  packages/node/package.json
  packages/node/src/rest/index.ts
  packages/node/tests/rest/client.ts
  packages/node/tests/rest/integration.test.ts
  packages/node/tsconfig.json
  packages/react-native/tsconfig.json
Labels: area/general, type/optimization

#122 Update localStream on change devices live
  packages/common/src/messages/verto/BaseRequest.ts
  packages/common/src/webrtc/Call.ts
Labels: area/web, type/bug

#124 bump node and JS version and update CHANGELOG
  packages/js/CHANGELOG.md
  packages/js/package-lock.json
  packages/js/package.json
  packages/node/CHANGELOG.md
  packages/node/package-lock.json
  packages/node/package.json
Labels: area/js, area/node

#125 update react-native example devDependencies to fix vulnerability
  packages/react-native/examples/VanillaCalling/package-lock.json
  packages/react-native/examples/VanillaCalling/package.json
Labels: area/react-native
